body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    flex: 1;
}

.header, .header-right, .header-left{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 20px;
    font-size: 20px;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-box, .bottom-box{
border-style: solid;
display: flex;
flex: 1;
justify-content: space-around;
align-items: center;
}

.top, .bottom{
    border-style: solid;
    border-color: rgb(18, 18, 122);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border-width: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}