body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
*{
    box-sizing: border-box;
}

.container{
    flex: 1;
}

.header, .header-right, .header-left{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-box, .bottom-box{
border-style: solid;
display: flex;
flex: 1;
}

.top, .bottom{
    border-style: solid;
  
}